# ~/.config/swaylock/config
# catppuccin mocha

font=JetBrainsMono NF Medium

color=11111b

inside-color=1e1e2e
inside-clear-color=1e1e2e
inside-ver-color=1e1e2e
inside-wrong-color=1e1e2e

ring-color=313244
ring-clear-color=b4befe
ring-ver-color=b4befe
ring-wrong-color=f38ba8

key-hl-color=b4befe
bs-hl-color=f38ba8
caps-lock-key-hl-color=f9e2af
caps-lock-bs-hl-color=f38ba8

text-color=cdd6f4
text-clear-color=6c7086
text-ver-color=6c7086
text-wrong-color=f38ba8
text-caps-lock-color=f9e2af

line-uses-ring
separator-color=00000000

indicator-radius=60
indicator-thickness=6

clock
timestr=%H:%M
datestr=%A, %d %B %Y

hide-keyboard-layout
ignore-empty-password
show-failed-attempts
