configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "JetBrainsMono NF Medium 12";

    display-drun: "drun";
    display-run: "run";
    display-window: "window";
}

@theme "themes/mocha"
