* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono NF Medium";
    font-size: 13px;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

tooltip {
    background: #111111;
    border: 1px solid #333333;
}

#workspaces {
    margin-left: 6px;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #6c6c6c;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button:hover {
    background: transparent;
    color: #8a8a8a;
    box-shadow: none;
}

/* Current workspace */
#workspaces button.focused,
#workspaces button.active {
    color: #ffffff;
}

/* Workspace containing an urgent window */
#workspaces button.urgent {
    color: #ff5555;
}

#clock,
#network,
#bluetooth,
#pulseaudio,
#battery {
    padding: 0 10px;
}
